[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mousetRajectory"]
	path = mousetRajectory
	url = https://github.com/mc-schaaf/mousetrajectory
